ol {
    background-color: rgb(237, 248, 85);
}
ol li:nth-child(even) {
    color: darkgreen;
}
ol li:nth-child(odd) {
    text-transform: uppercase;
}
Header {
    color: darkred;
}
em {
    font-size: 40px;
    border-style: solid 1px;
    border-color: black;
}
li {
    font-size: 20px;
}
    li em {
        font-weight: bolder;
    }